.main {
  position: sticky;
  background-color: var(--background);
  top: 0;
  height: 90px;
  width: 100svw;
  z-index: 1145148101919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-flow: row;
  height: 90px;
}

.imuLogo {
  width: 90px;
  height: 90px;
}

.imuText {
  width: 200px;
  height: 100%;
}
