.title {
  letter-spacing: 0.1em;
  margin-top: 32px;
  margin-bottom: 18px;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
}

.listLink {
  color: var(--im_light);
  text-decoration: underline;
}
