.title {
  text-align: center;
  margin: 32px;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
  display: flex;
}

.uzaText {
  margin: 12px;
  p {
    padding-bottom: 16px;
  }
}

.presidentContainer {
  display: flex;
  margin: 12px;
  flex-flow: column;
}

.presidentProfile {
  margin: 12px;
  h1 {
    font-size: 24px;
  }
  p {
    padding-top: 10px;
  }
}

.gray {
  color: gray;
}

.presidentImg {
  max-width: 400px;
  height: auto;
  transform: translate(-2px, -2px);
  filter: drop-shadow(4px 4px 0px var(--shadow));
  transition: 0.1s all ease 0s;
  border-radius: 5px;
}

.presidentImg:hover {
  transform: none;
  box-shadow: none;
  filter: sepia(30%);
}

.emphasize {
  font-weight: bold;
  font-size: 24px;
  color: var(--im_light);
}

.emphasize2 {
  font-weight: bold;
  font-size: 36px;
  color: var(--im_light);
}

@media (max-width: 900px) {
  .presidentImg {
    width: 100%;
  }
  .container {
    flex-flow: column;
    align-items: center;
  }
}
