[Unit]
Description=Minecraft Server Backup
After=minecraft.service
Requires=minecraft.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/IMUbackup.env
User=${USER}
Group=${GROUP}
WorkingDirectory=${MC_HOME}
ExecStart=${IMU_REPO}/service.sh backup
