[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/IMUbackup.env
User=${USER}
Group=${GROUP}
Nice=5
TimeoutStopSec=90

ProtectSystem=full
PrivateDevices=no
NoNewPrivileges=yes
PrivateTmp=no
InaccessiblePaths=/root /sys /srv -/opt /media -/lost+found
ReadWritePaths=${MC_HOME}

WorkingDirectory=${MC_HOME}
ExecStart=${IMU_REPO}/service.sh start
ExecReload=${IMU_REPO}/service.sh reload
ExecStop=${IMU_REPO}/service.sh stop

[Install]
WantedBy=multi-user.target
