:root {
  --white: #f0e3e8;
  --black: #201735;
  --im_light: #9768b3;
  --im_dark: #582a73;
  --red: #ff6050;

  --background: var(--white);
  --foreground: var(--im_dark);
  --immoral: var(--im_light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --immoral: var(--im_dark);
    --background: var(--black);
    --foreground: var(--white);
  }
}

html,
body {
  min-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--im_light);
}

p,
li {
  padding-bottom: 16px;
  line-height: 24px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
