:root {
  --white: #fcf8f9;
  --black: #201735;
  --im_light: #9768b3;
  --im_dark: #582a73;
  --red: #ff6050;
  --light_light: #ffffffff;
  --light_dark: #ffffff55;
  --shadow_dark: #00000090;
  --shadow_light: #00000020;

  --light: var(--light_light);
  --shadow: var(--shadow_light);
  --background: var(--white);
  --foreground: var(--im_dark);
  --immoral: var(--im_light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: var(--light_dark);
    --shadow: var(--shadow_dark);
    --immoral: var(--im_dark);
    --background: var(--black);
    --foreground: var(--white);
  }
}

html,
body {
  letter-spacing: 0.05em;
  min-height: 100svh;
  min-width: 100vw;
  display: flex;
  flex-flow: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--im_light);
}

p,
li {
  padding-bottom: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  text-shadow:
    1px 1px 1px var(--shadow),
    -1px -1px 1px var(--light);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
