.box {
  position: relative;
  width: 100%;
  height: clamp(260px, 50svh, 560px);
  overflow: hidden;
}

.img {
  object-fit: cover;
}

@media (max-width: 900px) {
  .box {
    height: clamp(156px, 30svh, 336px);
    background: var(--background);
  }

}
