.button {
  border: none;
  padding: 10px;
  margin: 10px;
  background: #0000;
}

.meats {
  position: absolute;
  padding: 8px;
  right: 0;
  background-color: var(--immoral);
}

.meat {
  padding: 8px;
}

.link {
  color: var(--white);
}
